html {
    background-color: black;
    color: white;
    text-align: center;
    overflow-x: hidden!important;
    width: 100%!important;
<<<<<<< HEAD
    margin-left: 0;
}

body {
    width: 100%;
}
=======
>>>>>>> c60ddb8697d4830b64cb9ac096810250ec4a9272

.heading {
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana;
}

a{
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
}

.guide {
    font-weight: 300;
    font-size: 42px;
    font-family: Verdana;
} 

.recommends {
    font-size: 21px;
    color: gray;
    font-family: Verdana;
}

.camp {
    width: 98%;
    height: auto;
    overflow: hidden;
}

.phone img {
    margin-top: 20px;
}

.phone p{
    font-weight: 300;
    font-size: 42px;
    font-family: Verdana;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

i {
    display: flex;
    flex-direction: column;
    color: gray;
    align-items: center;
    align-content: center;
    padding-right: 10px;
    padding-top: 5px;

}

footer p{
    color: gray;
    font-family: Verdana;
    font-size: 21px;
    font-weight: 300;
}


